@use 'light';
@use 'midnight';

$themes: (
    light   : light.$theme,
    midnight: midnight.$theme,
) !default;

$styles: (
    rounded: (
        radius: 0.5em,
    ),
    square: (
        radius: 0em,
    ),
) !default;
