$theme: (
    header_background: white,
    header_text      : #3f434b,

    nav_icon_color        : darkblue,
    nav_icon_color_hover  : blue,
    nav_icon_color_active : darkred,
    nav_icon_color_current: darkred,

    dialog_error_background  : #fdd,
    dialog_success_background: #dfd,

    main_background: rgba( 236, 246, 254, 1 ),

    text : #18191f,
    lines: lightgray,

    a_link   : blue,
    a_visited: darkblue,
    a_hover  : blue,
    a_active : darkred,
    a_current: darkred,

    legend_background          : white,
    fieldset_background        : rgba( 255, 255, 255, 0.25 ),
    form_elements_background   : white,

    input_text_color           : black,

    button_background          : silver,
    button_text_color          : black,
    button_selected            : lightgreen,

    form_hover_border_color    : lightgray,
    form_focus_background      : #fffff0,
    form_focus_border_color    : yellow,
    form_disabled_background   : white,
    form_disabled_color        : white,
    form_active_background     : white,
    form_active_color          : black,
    form_active_border_color   : silver,

    radiobox_background        : white,
    radiobox_checked_color     : white,
    radiobox_checked_background: black,

    material_buffer_text       : #999,
    material_ignored_text      : green,
    material_special_text      : red,
    material_details_text      : black,
    material_details_background: white,

    search_is_current_query: lightgreen,
    search_match_text      : blue,

    th_background                : lightgray,
    th_text                      : black,
    td_background                : white,
    td_text                      : black,
    blank_cell                   : #f0f0f0,
    td_selected_backbround       : lightgreen,
    td_selected_hover_background : green,
    td_clickable_hover_backbround: darkgreen,

    footer_background: #0b0d17,
    footer_color     : lightgray,
    footer_a_link    : lightblue,
    footer_a_visited : lightgray,
    footer_a_hover   : lightblue,
    footer_a_active  : darkred,
    footer_separator : dimgray,
) !default;
