<div class="query_type_buttons">
    <p>
        <label>
            <input type="checkbox" :checked="auto_hide" @change="toggle_auto_hide">
            Auto-Hide
        </label>
    </p>

    <p><b>Toggle Query:</b></p>

    <button
        :class="{ selected: add_verse }"
        @click="toggle_add_verse"
    >Add Verse</button>

    <p><b>Next Query's Bible:</b></p>

    <button
        v-for="bible in bibles"
        :class="{ selected: next_query_bible == bible }"
        @click="set_next_query_bible(bible)"
    >{{ bible }}</button>

    <p><b>Generate Query:</b></p>

    <button v-for="query_type in query_types"
        @click="reset_create_query( query_type.key )">{{ query_type.label }}</button>
</div>
