[% page.title = "Set QM Password" %]

<form method="post" action="[% c.url_for('/meet/passwd') %]">
    <fieldset>
        <legend>Set Quiz Magistrate Password</legend>

        <label>
            Password:
            <input type="password" name="meet_passwd" value="" placeholder="Quiz Magistrate Password"
                autocomplete="one-time-code">
        </label>

        <input type="submit" value="Set Quiz Magistrate Password">
    </fieldset>
</form>
