$root_font_size: 16px !default;

@use '../css/fonts/inter-tight';
@use '../css/fonts/material-icons';

:root {
    font-size: $root_font_size;
}

body {
    font-family: 'Inter Tight', sans-serif;
    font-weight: 400;
    line-height: 1.5em;
}

.material-symbols-outlined {
    font-size     : 1em;
    vertical-align: middle;
}

header .material-symbols-outlined,
nav > a > .material-symbols-outlined {
    font-size: 2em;
}

h1 {
    font-size : 1.6rem;
}

h2 {
    font-size : 1.5rem;
}

h3 {
    font-size : 1.4rem;
}

h4 {
    font-size : 1.3rem;
}

h5 {
    font-size : 1.2rem;
}

h6 {
    font-size : 1.1rem;
}
