[%
    page.title = 'Queries Drill',
    page.vue   = 1;
    page.demi  = 1;
    page.pinia = 1;

    js_app_config = quiz.js_app_config('queries');

    page.js.importmap = js_app_config.importmap;
    page.js.module    = page.js.module.merge( js_app_config.module );
%]

<h1>QuizSage: [% page.title %]</h1>

<div id="queries" v-cloak></div>
