[%
    page.title = 'Generated Queries',
    page.vue   = 1;

    js_app_config = quiz.js_app_config('queries');

    page.js.importmap = js_app_config.importmap;
    page.js.module    = page.js.module.merge( js_app_config.module );
%]

<div id="queries" v-cloak></div>
