[%
    page.title = (meet_id) ? quiz.data.bracket _ ' ' _ quiz.data.name : 'Pick-Up Quiz',
    page.vue   = 1;
    page.demi  = 1;
    page.pinia = 1;

    js_app_config = quiz.js_app_config('quiz');

    page.js.importmap = js_app_config.importmap;
    page.js.module    = page.js.module.merge( js_app_config.module );
%]

<div id="quiz" v-cloak></div>
