<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Playtest v2</title>
        <link rel="stylesheet" href="../../static.css">
        <script defer src="https://unpkg.com/vue/dist/vue.global.js"></script>
        <!--
            <script defer src="https://unpkg.com/vue-demi"></script>
            <script defer src="https://unpkg.com/pinia/dist/pinia.iife.js"></script>
        -->
        <script type="importmap">
            {
                "imports" : {
                    "classes/material"     : "./js/classes/material.js",
                    "classes/queries"      : "./js/classes/queries.js",
                    "classes/quiz"         : "./js/classes/quiz.js",
                    "modules/constants"    : "./js/modules/constants.js",
                    "modules/distribution" : "./js/modules/distribution.js",
                    "modules/events"       : "./js/modules/events.js",
                    "modules/scoring"      : "./js/modules/scoring.js"
                }
            }
        </script>
        <script type="module" src="vue/apps/playtest.js"></script>
    </head>
    <body>
        <h1>Playtest v2</h1>
        <div id="playtest" v-cloak>
            <div class="section_1">
                <div class="query_reply">
                    <p class="announcement">
                        Query <span>{{ event.id }}</span>
                        for <i>{ all 3 teams }</i>
                        is a <span>{{ event.type }}</span>
                        from the <span>{{ event.bible }}</span>.
                        Ready. Begin.
                    </p>

                    <div class="prompt_reply">{{ event.query.prompt }}</div>

                    <div class="prompt_reply">
                        <template v-if="event.type != 'X'">
                            {{ event.query.reply }}
                        </template>
                        <template v-else>
                            <span v-for="reference in event.query.references">{{ reference }}</span>
                        </template>
                    </div>
                </div>

                <div class="material" v-if="event.query.type != 'X'">
                    <button
                        v-for="material in event.query.material"
                        :class="selected.material.bible == material.bible ? 'selected' : ''"
                        @click="selected.material = material"
                    >{{ material.bible }}</button>

                    <div class="content">{{ ( selected.material ) ? selected.material.text : '' }}</div>

                    <div class="content thesaurus" v-if="selected.material">
                        <ul class="thesaurus">
                            <li v-for="set in selected.material.thesaurus">
                                <span class="word">{{ set.word }}</span>
                                <ul>
                                    <li v-for="meaning in set.meanings">
                                        {{ meaning.word }} ({{ meaning.type }})
                                        <ul>
                                            <li v-for="
                                                set in meaning.synonyms
                                                    .sort( ( a, b ) => b.verity - a.verity )
                                            ">
                                                {{ set.verity }}: {{ set.words.join(', ') }}
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="section_2">
                <div class="results">
                    <button @click="replace_query('P')">Phrase</button>
                    <button @click="replace_query('C')">CR</button>
                    <button @click="replace_query('Q')">Quote</button>
                    <button @click="replace_query('F')">Finish</button>
                    <!-- <button @click="replace_query('X')">XR</button> -->
                </div>

                <div class="timer">
                    <div class="timer_display">{{ timer.value }}</div>
                    <button @click="timer_toggle">{{ timer.state }}</button>
                    <button @click="timer_reset(40)">40</button>
                    <button @click="timer_reset(180)">180</button>
                </div>

                <div class="select_type">
                    <button
                        @click="select_type('synonymous')"
                        :class="selected.type.synonymous_verbatim_open_book == 'synonymous' ? 'selected' : ''"
                    >Synonymous</button>
                    <button
                        @click="select_type('verbatim')"
                        :class="selected.type.synonymous_verbatim_open_book == 'verbatim' ? 'selected' : ''"
                    >Verbatim</button>
                    <button
                        @click="select_type('open_book')"
                        :class="selected.type.synonymous_verbatim_open_book == 'open_book' ? 'selected' : ''"
                    >Open Book</button>
                    <button
                        @click="select_type('with_reference')"
                        :class="selected.type.with_reference ? 'selected' : ''"
                    >With Reference</button>
                    <button
                        @click="select_type('add_verse')"
                        :class="selected.type.add_verse ? 'selected' : ''"
                    >Add Verse</button>
                </div>

                <div class="results">
                    <button @click="trigger_event('no_trigger')">No Trigger</button>
                    <button @click="trigger_event('correct')">Correct</button>
                    <button @click="trigger_event('incorrect')">Incorrect</button>
                    <button @click="trigger_event('reset')">Reset</button>
                    <button @click="trigger_event('foul')">Foul</button>
                    <button @click="trigger_event('timeout')">Timeout</button>
                    <button @click="trigger_event('appeal_accepted')">Appeal +</button>
                    <button @click="trigger_event('appeal_declined')">Appeal -</button>
                </div>

                <table class="score">
                    <thead>
                        <tr>
                            <td colspan="3" rowspan="5" class="upper_left_corner"></td>
                            <template v-for="team in teams">
                                <td :colspan="team.quizzers.length">{{ team.name }}</td>
                                <td>{{ team.score.points }}</td>
                            </template>
                        </tr>
                        <tr>
                            <template v-for="team in teams">
                                <template v-for="( quizzer, index ) in team.quizzers">
                                    <td>{{ index + 1 }}</td>
                                </template>
                                <td rowspan="4" class="team_status">
                                    TOs: {{ team.timeouts_remaining }}
                                    &nbsp;&nbsp;
                                    ADs: {{ team.appeals_declined }}
                                </td>
                            </template>
                        </tr>
                        <tr class="quizzer_names">
                            <template v-for="team in teams">
                                <template v-for="quizzer in team.quizzers">
                                    <td
                                        @click="select_quizzer( quizzer.id, team.id )"
                                        :class="selected.quizzer == quizzer.id ? 'selected' : ''"
                                    >{{ quizzer.name }}</td>
                                </template>
                            </template>
                        </tr>
                        <tr>
                            <template v-for="team in teams">
                                <template v-for="quizzer in team.quizzers">
                                    <td>{{ quizzer.score.correct }}-{{ quizzer.score.incorrect }}</td>
                                </template>
                            </template>
                        </tr>
                        <tr>
                            <template v-for="team in teams">
                                <template v-for="quizzer in team.quizzers">
                                    <td>{{ quizzer.score.points }}</td>
                                </template>
                            </template>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            v-for="( event in events"
                            :class="event.current ? 'active_event' : ''"
                        >
                            <td>{{ event.bible }}</td>
                            <td>{{ event.type }}</td>
                            <td>{{ event.id }}</td>
                            <template v-for="team in teams">
                                <template v-for="quizzer in team.quizzers">
                                    <td>{{
                                        quizzer.id == event.quizzer ? event.quizzer_label : ''
                                    }}</td>
                                </template>
                                <td>{{ team.id == event.team ? event.team_label : '' }}</td>
                            </template>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
