<table class="board" v-if="teams && board">
    <thead>
        <tr>
            <td colspan="3" rowspan="5" class="top_left_corner"></td>
            <template v-for="team in teams">
                <td
                    :colspan="team.quizzers.length"
                    :class="{
                        team_name           : true,
                        not_trigger_eligible: not_trigger_eligible(team),
                    }"
                >
                    {{ team.name }}
                    <div class="nickname" v-if="team.nickname">{{ team.nickname }}</div>
                </td>
                <td :class="{
                    center              : true,
                    team_score_position : true,
                    not_trigger_eligible: not_trigger_eligible(team),
                }">
                    {{ ( team.score.position == 0 ) ? '' : team.score.position }}<sup>{{
                        ( team.score.position == 0 ) ? '' :
                        ( team.score.position == 1 ) ? 'st' :
                        ( team.score.position == 2 ) ? 'nd' :
                        ( team.score.position == 3 ) ? 'rd' : 'th'
                    }}</sup>
                </td>
            </template>
        </tr>
        <tr>
            <template v-for="team in teams">
                <td
                    v-for="quizzer in team.quizzers"
                    :class="{
                        not_trigger_eligible: not_trigger_eligible( team, quizzer ),
                        center              : true,
                    }"
                >
                    {{ quizzer.score.points }} ({{ quizzer.score.team_points }})
                </td>
                <td :class="{
                    center              : true,
                    team_score_points   : true,
                    not_trigger_eligible: not_trigger_eligible(team),
                }">{{ team.score.points }}</td>
            </template>
        </tr>
        <tr class="vertical">
            <template v-for="team in teams">
                <td v-for="quizzer in team.quizzers"
                    @click="select_quizzer( quizzer.id, team.id )"
                    :class="{
                        quizzer_name: true,
                        clickable   : true,
                        selected    :
                            selected.quizzer_id && quizzer.id && selected.quizzer_id == quizzer.id,
                        not_trigger_eligible: not_trigger_eligible( team, quizzer ),
                    }"
                ><div>{{ quizzer.name }}</div></td>

                <td rowspan="3"
                    :class="{
                        team_toradr_status  : true,
                        not_trigger_eligible: not_trigger_eligible(team),
                    }"
                ><div>
                    <span
                        :title="'Timeouts Remaining: ' + team.timeouts_remaining"
                        >TOsR: {{ team.timeouts_remaining }}</span>
                    &nbsp;&nbsp;
                    <span
                        :title="'Appeals Declined Remaining: ' + team.appeals_declined_remaining"
                        >ADR: {{ team.appeals_declined_remaining }}</span>
                </div></td>
            </template>
        </tr>
        <tr>
            <template v-for="team in teams">
                <td
                    v-for="quizzer in team.quizzers"
                    :class="{
                        center              : true,
                        not_trigger_eligible: not_trigger_eligible( team, quizzer ),
                    }"
                >{{ quizzer.bible }}</td>
            </template>
        </tr>
        <tr>
            <template v-for="team in teams">
                <td
                    v-for="quizzer in team.quizzers"
                    :class="{
                        center              : true,
                        not_trigger_eligible: not_trigger_eligible( team, quizzer ),
                    }"
                >
                    {{ quizzer.score.correct }} ({{ quizzer.score.open_book }})
                </td>
            </template>
        </tr>
    </thead>
    <tbody>
        <tr
            v-for="record in board"
            :class="{ selected: record.current }"
        >
            <td
                @click="view_query(record)"
                :class="{
                    clickable: record.query,
                    selected : record.id && current.event.id && record.id == current.event.id,
                }"
            >{{ record.id }}</td>
            <td>{{ record.type }}</td>
            <td>{{ record.bible }}</td>
            <template v-for="team in teams">
                <td
                    v-for="quizzer in team.quizzers"
                    :class="{
                        center              : true,
                        not_trigger_eligible: not_trigger_eligible( team, quizzer ),
                    }"
                >{{
                    ( quizzer.id == record.quizzer_id ) ? record.quizzer_label : ''
                }}</td>
                <td
                    :class="{
                        team_score_column   : true,
                        center              : true,
                        not_trigger_eligible: not_trigger_eligible(team),
                    }"
                >{{ ( team.id == record.team_id ) ? record.team_label : '' }}</td>
            </template>
        </tr>
    </tbody>
</table>
