<div class="material" v-if="current.query.type != 'X'">
    <button
        v-for="set in current.materials"
        :class="{ selected: selected.bible == set.bible.name }"
        @click="selected.bible = set.bible.name"
    >{{ set.bible.name + ( ( set.bible.type == 'auxiliary' ) ? '*' : '' ) }}</button>

    <span class="reference">{{
        current.query.book    + ' ' +
        current.query.chapter + ':' +
        current.query.verse
    }}</span>

    <button @click="reset_replace_query">Replace</button>

    <p class="content">
        <thesaurus type="text"></thesaurus>
    </p>
</div>
