<div class="query">
    <p class="announcement" v-if="eligible_teams">
        Query <span>{{ current.event.id }}</span>
        <template v-if="! last_event_if_not_viewed() && ! is_quiz_done()">
            for <span>{{ eligible_teams }}</span>
            is
        </template>
        <template v-else>
            was
        </template>
        a<br>
        <span>{{ current.query.type_name }}</span>
        from the <span>{{ current.event.bible }}</span>.
        Ready. Begin.
    </p>

    <p class="announcement" v-if="! eligible_teams">
        Query is a
        <span>{{ current.query.type_name }}</span>
        from the <span>{{ current.query.bible }}</span>.
    </p>

    <p
        :class="{
            prompt: true,
            hidden: (is_drill) ? false : hidden_solution,
        }"
    >
        {{ current.query.pre_prompt }}
        <thesaurus type="prompt"></thesaurus>
    </p>

    <p
        :class="{
            reply : true,
            hidden: hidden_solution,
        }"
    >
        <template v-if="! current.event || current.event.type != 'X'">
            <thesaurus type="reply"></thesaurus>
        </template>
        <template v-else>
            <span v-for="reference in current.query.references">{{ reference }}</span>
        </template>
    </p>
</div>
