<div class="search">
    <input type="text" v-model="term" placeholder="Term (Word or Phrase)">
    <button class="clear" @click="match_terms" :disabled="! term.length">Match</button>
    <button class="clear" @click="term = ''"   :disabled="! term.length">Clear</button>

    <p class="terms">
        <span
            v-for="term in matched_terms"
            :class="[ ...term.types, 'term', term.lookup ]"
        >{{ term.key }}<div class="details">
            <span class="word">{{ term.synonyms.word }}</span>
            <ul>
                <li v-for="meaning in term.synonyms.meanings">
                    <i>
                        {{ meaning.type }} -
                        <template v-if="! meaning.ignored">
                            {{ meaning.word }}
                        </template>
                        <template v-else>
                            ignored ({{ meaning.word }})
                        </template>
                    </i>

                    <ul v-if="! meaning.ignored && meaning.type != 'pron.'">
                        <li v-for="
                            set in meaning.synonyms
                                .sort( ( a, b ) => b.verity - a.verity )
                        ">
                            {{ set.verity }}: {{ set.words.join(', ') }}
                        </li>
                    </ul>
                </li>
            </ul>
            <span class="flag material-symbols-outlined" @click="flag(item)">flag</span>
        </div></span>
    </p>

    <br>

    <input type="text" v-model="text" placeholder="Search Verse Text">
    <button class="clear" @click="text = ''" :disabled="! text.length">Clear</button>
    <label><input type="checkbox" v-model="exact"> Exact</label>

    <br>

    <button
        v-for="bible in material.bibles"
        :class="{ selected: bible.name == selected_bible }"
        @click="selected_bible = bible.name"
    >{{ bible.name + ( ( bible.type == 'auxiliary' ) ? '*' : '' ) }}</button>

    <table v-if="matched_verses.length">
        <tbody class="no_header">
            <tr v-for="verse in matched_verses" :class="{ is_current_query: verse.is_current_query }">
                <td>{{ verse.bible }}</td>
                <td class="no_wrap">{{ verse.book }} {{ verse.chapter }}:{{ verse.verse }}</td>
                <td><span v-for="part in verse.text_parts" :class="part.type">{{ part.text }}</span></td>
            </tr>
        </tbody>
    </table>
</div>
