<div class="search">
    <button
        v-for="bible in material.bibles"
        :class="{ selected: bible.name == selected_bible }"
        @click="selected_bible = bible.name"
    >{{ bible.name + ( ( bible.type == 'auxiliary' ) ? '*' : '' ) }}</button>

    <br>

    <input type="text" v-model="text" placeholder="Search Text">
    <label><input type="checkbox" v-model="exact"> Exact</label>

    <table v-if="matched_verses.length">
        <tr v-for="verse in matched_verses" :class="{ is_current_query: verse.is_current_query }">
            <td>{{ verse.bible }}</td>
            <td class="nowrap">{{ verse.book }} {{ verse.chapter }}:{{ verse.verse }}</td>
            <td><span v-for="part in verse.text_parts" :class="part.type">{{ part.text }}</span></td>
        </tr>
    </table>
</div>
