<div class="thesaurus">
    <span v-for="item in items" :class="[ ...item.types, 'item' ]"
        >{{ item.text }}<div v-if="item.thesaurus" class="details">
            <span class="word">{{ item.thesaurus.word }}</span>
            <ul>
                <li v-for="meaning in item.thesaurus.meanings">
                    <i>
                        {{ meaning.type }} -
                        <template v-if="! meaning.ignored">
                            {{ meaning.word }}
                        </template>
                        <template v-else>
                            ignored ({{ meaning.word }})
                        </template>
                    </i>

                    <ul v-if="! meaning.ignored && meaning.type != 'pron.'">
                        <li v-for="
                            set in meaning.synonyms
                                .sort( ( a, b ) => b.verity - a.verity )
                        ">
                            {{ set.verity }}: {{ set.words.join(', ') }}
                        </li>
                    </ul>
                </li>
            </ul>
            <span class="flag material-symbols-outlined" @click="flag(item)">flag</span>
    </div></span>
</div>
