<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Playtest v1</title>
        <link rel="stylesheet" href="../../static.css">
        <script async src="iife_class_queries.js"></script>
        <script async src="iife_class_quiz.js"></script>
        <script async src="https://unpkg.com/vue/dist/vue.global.js"></script>
        <script async src="vue_app_quiz.js"></script>
    </head>
    <body>
        <div id="quiz" v-cloak>
            <div class="section_1">
                <div class="query_reply">
                    <p class="announcement">
                        Query <span>{{ event.id }}</span>
                        is a <span>{{ event.query.type_name }}</span>
                        from the <span>{{ event.bible }}</span>.
                        <br>
                        <i>{ All 3 teams are }</i> eligible.
                        <br>
                        Ready. Begin.
                    </p>

                    <div class="prompt_reply">{{ event.query.prompt }}</div>

                    <div class="prompt_reply">
                        <template v-if="event.query.type != 'X'">
                            {{ event.query.reply }}
                        </template>
                        <template v-else>
                            <span v-for="reference in event.query.references">{{ reference }}</span>
                        </template>
                    </div>
                </div>

                <div class="material" v-if="event.query.type != 'X'">
                    <button
                        v-for="bible in bibles"
                        :class="selected_bible == bible ? 'selected' : ''"
                        @click="select_bible(bible)"
                    >{{ bible }}</button>

                    <div class="content">{{ selected_material }}</div>

                    <div class="content thesaurus">
                        <ul class="thesaurus">
                            <li v-for="( meanings, word ) in selected_thesaurus">
                                <span class="word">{{ word }}</span>
                                <ul>
                                    <li v-for="meaning in meanings">
                                        {{ meaning.word }} ({{ meaning.type }})
                                        <ul>
                                            <li v-for="
                                                set in meaning.synonyms
                                                    .sort( ( a, b ) => b.verity - a.verity )
                                            ">
                                                {{ set.verity }}: {{ set.words.join(', ') }}
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="section_2">
                <div class="results">
                    <button @click="replace_query('P')">Phrase</button>
                    <button @click="replace_query('C')">CR</button>
                    <button @click="replace_query('Q')">Quote</button>
                    <button @click="replace_query('F')">Finish</button>
                    <button @click="replace_query('X')">XR</button>
                </div>

                <div class="timer">
                    <div class="timer_display">{{ timer_value }}</div>
                    <button @click="timer_toggle">{{ timer_state }}</button>
                    <button @click="timer_reset(40)">40</button>
                    <button @click="timer_reset(180)">180</button>
                </div>

                <div class="select_type">
                    <button
                        @click="select_type('synonymous')"
                        :class="svo_type == 'synonymous' ? 'selected' : ''"
                    >Synonymous</button>
                    <button
                        @click="select_type('verbatim')"
                        :class="svo_type == 'verbatim' ? 'selected' : ''"
                    >Verbatim</button>
                    <button
                        @click="select_type('open_book')"
                        :class="svo_type == 'open_book' ? 'selected' : ''"
                    >Open Book</button>
                    <button
                        @click="select_type('with_reference')"
                        :class="wr_type ? 'selected' : ''"
                    >With Reference</button>
                </div>

                <div class="results">
                    <button @click="trigger_event('no_jump')">No Jump</button>
                    <button @click="trigger_event('correct')">Correct</button>
                    <button @click="trigger_event('incorrect')">Incorrect</button>
                    <button @click="trigger_event('reset')">Reset</button>
                    <button @click="trigger_event('foul')">Foul</button>
                    <button @click="trigger_event('timeout')">Timeout</button>
                    <button @click="trigger_event('appeal_accepted')">Appeal +</button>
                    <button @click="trigger_event('appeal_declined')">Appeal -</button>
                </div>

                <table class="score">
                    <thead>
                        <tr>
                            <td colspan="3" rowspan="5" class="upper_left_corner"></td>
                            <template v-for="team in teams">
                                <td :colspan="team.quizzers.length">{{ team.name }}</td>
                                <td>{{ team.score }}</td>
                            </template>
                        </tr>
                        <tr>
                            <template v-for="team in teams">
                                <template v-for="( quizzer, index ) in team.quizzers">
                                    <td>{{ index + 1 }}</td>
                                </template>
                                <td rowspan="4" class="team_status">
                                    TOs: {{ team.timeouts }}
                                    &nbsp;&nbsp;
                                    ADs: {{ team.appeals_declined }}
                                </td>
                            </template>
                        </tr>
                        <tr class="quizzer_names">
                            <template v-for="team in teams">
                                <template v-for="quizzer in team.quizzers">
                                    <td
                                        @click="select_quizzer( quizzer.id, team.id )"
                                        :class="selected_quizzer == quizzer.id ? 'selected' : ''"
                                    >{{ quizzer.name }}</td>
                                </template>
                            </template>
                        </tr>
                        <tr>
                            <template v-for="team in teams">
                                <template v-for="quizzer in team.quizzers">
                                    <td>{{ quizzer.correct }}-{{ quizzer.incorrect }}</td>
                                </template>
                            </template>
                        </tr>
                        <tr>
                            <template v-for="team in teams">
                                <template v-for="quizzer in team.quizzers">
                                    <td>{{ quizzer.score }}</td>
                                </template>
                            </template>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            v-for="( quiz_event, index ) in events"
                            :class="quiz_event.id == event.id ? 'active_event' : ''"
                        >
                            <td>{{ quiz_event.bible }}</td>
                            <td>{{ quiz_event.type }}</td>
                            <td>{{ quiz_event.id }}</td>
                            <template v-for="team in teams">
                                <template v-for="quizzer in team.quizzers">
                                    <td>{{
                                        quizzer.id == quiz_event.quizzer ? quiz_event.quizzer_label : ''
                                    }}</td>
                                </template>
                                <td>{{ team.id == quiz_event.team ? quiz_event.team_label : '' }}</td>
                            </template>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <script type="text/javascript">
            window.addEventListener( 'load', () => {
                const queries = new QuizSageQueries({
                    label    : 'Acts 1-19 (1) Matthew 1-13; 1 Timothy; 2 Timothy; Titus (1) ESV NIV',
                    settings : {
                        phrase_min_prompt_length : 4,
                        phrase_min_reply_length  : 2,
                        cr_min_prompt_length     : 3,
                        cr_min_reply_length      : 2,
                        finish_prompt_length     : 5,
                        finish_min_reply_length  : 2,
                        xr_min_prompt_length     : 4,
                        xr_min_references        : 2,
                    },
                });

                const quiz = new QuizSageQuiz({
                    queries : queries,
                    teams   : [
                        {
                            name     : 'Team 1',
                            quizzers : [
                                { name: 'Quizzer Alpha'   },
                                { name: 'Quizzer Bravo'   },
                                { name: 'Quizzer Charlie' },
                            ],
                        },
                        {
                            name     : 'Team 2',
                            quizzers : [
                                { name: 'Quizzer Delta'   },
                                { name: 'Quizzer Echo'    },
                                { name: 'Quizzer Foxtrot' },
                            ],
                        },
                        {
                            name     : 'Team 3',
                            quizzers : [
                                { name: 'Quizzer Gulf'  },
                                { name: 'Quizzer Hotel' },
                                { name: 'Quizzer India' },
                            ],
                        },
                    ],
                });

                quiz.ready.then( () => {
                    const vue_quiz = new QuizSageVueQuiz({ id: '#quiz', quiz: quiz });
                } );
            } );
        </script>
    </body>
</html>
