[% page.title = 'Forgot Password (or Resend Verification Email)' %]

<h1>QuizSage: [% page.title %]</h1>

<ul><li><a href="[% c.url_for('/') %]">Main Page</a></li></ul>

<form method="post">
    <fieldset>
        <legend>Send Email</legend>

        <label>
            Email:
            <input type="email" name="email" value="[% email %]" placeholder="Email" autocomplete="email">
        </label>

        <input type="submit" value="Send Email">
    </fieldset>
</form>
