[% page.title = 'Forgot Password' %]

<h1>QuizSage: [% page.title %]</h1>

<form method="post">
    <fieldset>
        <legend>Send Password Reset Email</legend>

        <label>
            Email:
            <input type="email" name="email" value="[% email %]" placeholder="Email" autocomplete="email">
        </label>

        <input type="submit" value="Send Password Reset Email">
    </fieldset>
</form>
