[% page.title = 'Forgot Password' %]

<b><i>(or Resend Verification Email)</i></b>

<form method="post">
    <fieldset>
        <legend>Send Email</legend>

        <label>
            Email:
            <input type="email" name="email" value="[% email %]" placeholder="Email" autocomplete="email">
        </label>

        [% PROCESS captcha.html.tt %]

        <input type="submit" value="Send Email">
    </fieldset>
</form>
