---
preinclude: ../omniframe/config/app.yaml
default:
    libs: ../omniframe/lib
    omniframe: ../omniframe
    mojo_app_lib: QuizSage::Control
    database:
        shards:
            app:
                default_shard: 1
                file: local/db/app.sqlite
            material:
                file: local/db/material.sqlite
    logging:
        alert_email:
            - gryphon@quizsage.org
    mojolicious:
        secrets:
            - 65.zH1eZb4m7Q19Jf1OUtzxeYg92Ngqy
        session:
            cookie_name: quizsage_session
    email:
        from: QuizSage <gryphon@quizsage.org>
    bcrypt:
        salt: 63MWT0N6PQlNU43R
    material:
        obml: local/obml
        json: static/json/material
www:
    logging:
        filter: ~
    email:
        active: 1
tauntaun:
    database:
        shards:
            app:
                log:
                    all: local/db/app.sql
optional_include: local/config.yaml
