---
preinclude: ../omniframe/config/app.yaml
default:
    libs        : ../omniframe/lib
    omniframe   : ../omniframe
    mojo_app_lib: QuizSage::Control
    database    :
        shards:
            app:
                default_shard: 1
                file         : local/db/app.sqlite
            material:
                file: local/db/material.sqlite
    logging:
        alert_email:
            - example@example.org
    mojolicious:
        secrets:
            - 65.zH1eZb4m7Q19Jf1OUtzxeYg92Ngqy
        session:
            cookie_name: quizsage_session
    email:
        from: QuizSage <example@example.org>
    bcrypt:
        salt: 63MWT0N6PQlNU43R
    captcha:
        width      : 216
        height     : 50
        size       : 20
        ttf        : static/externals/google_fonts/fonts/inter-tight/inter-tight-v*-latin_latin-ext-700.ttf
        rotation   : 7
        x          : 13
        y_base     : 35
        y_rotate   : 100
        noise      : 1000
        background : [ 255, 255, 255 ]
        text_color : [ 'rand(128)', 'rand(128)', 'rand(128)' ]
        noise_color: [ 'rand(128) + 128', 'rand(128) + 128', 'rand(128) + 128' ]
    material:
        obml: local/obml
        json:
            location  : static/build/material
            path      : /build/material
            atime_life: 274
    reference:
        atime_life: 274
        location  :
            json: local/reference/json
            html: local/reference/html
    pickup_quiz_ctime_life: 274
    quiz_defaults:
        bible         : NIV
        duration      : 30
        material_label: Luke 1-2; 3:1-23; 4-24 ESV NIV NIV84*
        roster_data   : |
            Team 1
            Alpha Bravo
            Charlie Delta
            Echo Foxtrox

            Team 2
            Gulf Hotel
            Juliet India
            Kilo Lima

            Team 3
            Mike November
            Oscar Papa
            Romeo Quebec
    rebuild_stats_before: 2024-12-16 17:00
    season_start: 08-01
www:
    logging:
        filter: ~
    email:
        active: 1
tauntaun:
    database:
        shards:
            app:
                log:
                    all: local/db/app.sql
            material:
                log:
                    all: local/db/material.sql
optional_include: local/config.yaml
