---
preinclude: ../omniframe/config/app.yaml
default:
    libs        : ../omniframe/lib
    omniframe   : ../omniframe
    mojo_app_lib: QuizSage::Control
    database    :
        shards:
            app:
                default_shard: 1
                file         : local/db/app.sqlite
            material:
                file: local/db/material.sqlite
    logging:
        alert_email:
            - example@example.org
    mojolicious:
        secrets:
            - 65.zH1eZb4m7Q19Jf1OUtzxeYg92Ngqy
        session:
            cookie_name: quizsage_session
    email:
        from: QuizSage <example@example.org>
    bcrypt:
        salt: 63MWT0N6PQlNU43R
    material:
        obml: local/obml
        json: static/json/material
    quiz_defaults:
        bible         : NIV
        duration      : 30
        material_label: Galatians; Ephesians; Philippians; Colossians NASB* NASB5 NIV
        roster_data   : |
            Team 1
            Alpha Bravo
            Charlie Delta
            Echo Foxtrox

            Team 2
            Gulf Hotel
            Juliet India
            Kilo Lima

            Team 3
            Mike November
            Oscar Papa
            Romeo Quebec
www:
    logging:
        filter: ~
    email:
        active: 1
tauntaun:
    database:
        shards:
            app:
                log:
                    all: local/db/app.sql
            material:
                log:
                    all: local/db/material.sql
optional_include: local/config.yaml
