<div class="verses">
    <div class="reference">
        <button
            v-for="bible in material.bibles"
            :class="{ selected: selected.bible == bible.name }"
            @click="selected.bible = bible.name"
        >{{ bible.name + ( ( bible.type == 'auxiliary' ) ? '*' : '' ) }}</button>

        <select v-model="selected.book">
            <option
                v-for="book in books"
                :selected="book == selected.book"
            >{{ book }}</option>
        </select>

        <select v-model="selected.chapter">
            <option
                v-for="chapter in chapters"
                :selected="chapter == selected.chapter"
            >{{ chapter }}</option>
        </select>

        <select v-model="selected.verse">
            <option
                v-for="verse in verses"
                :selected="verse == selected.verse"
            >{{ verse }}</option>
        </select>
    </div>

    <div class="material">
        <p
            v-for="verse in content"
            :class="{ selected: selected.verse == verse.verse }"
        >
            <sup>{{ verse.verse }}</sup>
            {{ verse.text }}
        </p>
    </div>
</div>
