form.admin {
    margin-right: 1em;

    p {
        text-align: left;
    }

    textarea[name="settings"] {
        font-family: monospace;
        font-size  : 75%;
        line-height: 1em;
        width      : 25em;
        height     : 20em;
    }

    @media ( min-width: 735px ) {
        input[type=text] {
            width: 20em !important;
        }

        textarea[name="settings"] {
            width : 55em;
            height: 40em;
        }
    }

    fieldset {
        margin-right: 1em;
    }

    fieldset.roster {
        textarea {
            height: 31.75em;
        }
    }
}

div.admin {
    margin-top: 1em;

    table {
        margin-right: 1em;
    }
}

a.admin {
    margin-top  : 0.5em;
    margin-right: 0.5em;
}
