@use 'theme';
@use 'themes';

div#quiz,
div#drill,
div#queries {
    font-size  : 75%;
    line-height: 1.5em;

    p {
        margin-top   : 0.25em;
        margin-bottom: 0.25em;
    }

    button {
        margin: 0.1em;

        &.selected {
            @include theme.apply( themes.$themes ) {
                background: theme.get('button_selected');
            }
        }
    }

    div.query p.announcement span,
    div.query p.prompt,
    div.query p.reply,
    div.material span.reference,
    div.material p.content {
        padding: 0 0.2em;
        border : 1px solid;

        @include theme.apply( themes.$themes ) {
            background  : theme.get('form_elements_background');
            border-color: theme.get('lines');
        }

        @include theme.apply( themes.$styles, 'style' ) {
            border-radius: theme.get('radius');
        }
    }

    div.query {
        p.announcement {
            margin-top: 0;
        }

        div.top_block {
            position: relative;
        }

        div.buttons {
            position: absolute;
            bottom  : 0;
            right   : 0;
        }
    }

    div.material span.reference {
        padding  : 0.125em 0.25em;
        min-width: 8em;
        display  : inline-block;
    }

    div.material span.buffer {
        font-style: italic;
        display   : block;

        @include theme.apply( themes.$themes ) {
            color: theme.get('material_buffer_text');
        }
    }
    div.material span.buffer:first-child {
        padding-bottom: 0.5em;
    }
    div.material span.buffer:not(:first-child) {
        padding-top: 0.5em;
    }

    div.thesaurus {
        display    : inline;
        white-space: nowrap;

        ul {
            margin: 0 0 0 1em;
        }

        li {
            list-style : none;
        }

        & > ul {
            margin: 0;
        }

        & > ul > li:not(:first-child) {
            margin-top: 1em;
        }

        span {
            &.clickonable {
                display: inline-block;
                margin : 0 calc( 1em / 8 * -1 );
                padding: 0 calc( 1em / 8 );

                @include theme.apply( themes.$styles, 'style' ) {
                    border-radius: calc( theme.get('radius') / 2 );
                }

                &:hover {
                    cursor: pointer;
                }

                &.clickoned {
                    @include theme.apply( themes.$themes ) {
                        background-color: theme.get('button_background');
                    }
                }
            }

            &.wrappable {
                display    : inline;
                white-space: normal;
            }

            &.word {
                font-weight    : bold;
                text-decoration: underline;
            }

            &.required {
                @include theme.apply( themes.$themes ) {
                    color: theme.get('material_required_text');
                }
            }

            &.ignored {
                font-style: italic;

                @include theme.apply( themes.$themes ) {
                    color: theme.get('material_ignored_text');
                }
            }

            &.special {
                @include theme.apply( themes.$themes ) {
                    color: theme.get('material_special_text');
                }
            }

            &.item {
                position: relative;
            }

            &.item div.details {
                font-style      : normal;
                display         : none;
                position        : absolute;
                top             : 100%;
                left            : 0;
                z-index         : 1;
                padding         : 0 0.2em;
                transform       : translate( 0.5em, 0 );
                width           : 30em;
                max-height      : 20em;
                overflow-y      : auto;
                border          : 1px solid;

                @include theme.apply( themes.$themes ) {
                    color       : theme.get('material_details_text');
                    background  : theme.get('material_details_background');
                    border-color: theme.get('lines');
                }

                @include theme.apply( themes.$styles, 'style' ) {
                    border-radius: theme.get('radius');
                }
            }

            @media ( max-width: 48em ) {
                &.item div.details {
                    width: 16em;
                }
            }

            &.item:hover div.details {
                display: block;
            }
        }
    }

    div.timer div.timer_display {
        font-size       : 300%;
        font-weight     : bold;
        display         : inline-block;
        padding         : 0.25em 0.125em;
        margin-bottom   : 0.25em;
        width           : 2em;
        text-align      : center;
        border          : 3px double;
        cursor          : pointer;

        @include theme.apply( themes.$themes ) {
            background  : theme.get('form_elements_background');
            border-color: theme.get('lines');
        }

        @include theme.apply( themes.$styles, 'style' ) {
            border-radius: calc( theme.get('radius') / 2 );
        }
    }

    div.select_type,
    div.results {
        min-width: 43em;
    }

    div.search {
        position: relative;

        button {
            margin-bottom: 0.25em;
        }

        label {
            margin-left: 0.5em;
        }

        button.clear {
            margin-left: 0.5em;
        }

        p.terms {
            margin : -0.125em -0.125em -1.25em -0.25em;
            padding: 0;
            width  : 28.5em;

            span.term {
                display      : inline-block;
                border-radius: 0.5em;
                margin       : 0.25em 0 0 0.25em;
                padding      : 0.2em 0.25em;
                border       : 1px solid;
                line-height  : 1em;

                @include theme.apply( themes.$themes ) {
                    background  : theme.get('form_elements_background');
                    border-color: theme.get('lines');
                }

                &.required {
                    @include theme.apply( themes.$themes ) {
                        color: theme.get('material_required_text');
                    }
                }

                &.ignored {
                    font-style: italic;

                    @include theme.apply( themes.$themes ) {
                        color: theme.get('material_ignored_text');
                    }
                }

                &.special {
                    @include theme.apply( themes.$themes ) {
                        color: theme.get('material_special_text');
                    }
                }

                &.direct {
                    font-weight: bold;
                    div {
                        font-weight: normal;
                    }
                }

                &.reverse {
                    font-style: italic;
                    div {
                        font-style: normal;
                    }
                }

                div.details {
                    font-style      : normal;
                    display         : none;
                    position        : absolute;
                    top             : 100%;
                    left            : 0;
                    z-index         : 1;
                    padding         : 0 0.2em;
                    transform       : translate( 0.5em, 0 );
                    width           : 30em;
                    max-height      : 20em;
                    overflow-y      : auto;
                    border          : 1px solid;
                    line-height: 1.5em;

                    @include theme.apply( themes.$themes ) {
                        color       : theme.get('material_details_text');
                        background  : theme.get('material_details_background');
                        border-color: theme.get('lines');
                    }

                    @include theme.apply( themes.$styles, 'style' ) {
                        border-radius: theme.get('radius');
                    }

                    span.word {
                        font-weight    : bold;
                        text-decoration: underline;
                    }

                    ul {
                        margin: 0 0 0 1em;
                    }

                    li {
                        list-style : none;
                    }

                    & > ul {
                        margin: 0;
                    }

                    & > ul > li:not(:first-child) {
                        margin-top: 1em;
                    }
                }

                @media ( max-width: 48em ) {
                    &.term div.details {
                        width: 16em;
                    }
                }

                &.term:hover div.details {
                    display: block;
                }
            }
        }

        table {
            position      : absolute;
            width         : calc( 100vw - 4em );
            margin-top    : 0.25em;
            padding-bottom: 2em;
            z-index       : 30;

            @include theme.apply( themes.$themes ) {
                box-shadow: 0 4em 0 4em theme.get('main_background');
            }

            tr:first-of-type {
                td {
                    border-top: 1px solid;
                    @include theme.apply( themes.$themes ) {
                        border-color: theme.get('lines');
                    }
                }
            }

            tr td:nth-of-type(2) {
                width: 6em;
            }

            tr.is_current_query td {
                @include theme.apply( themes.$themes ) {
                    background: theme.get('search_is_current_query');
                }
            }

            span.match {
                font-weight: bold;

                @include theme.apply( themes.$themes ) {
                    color: theme.get('search_match_text');
                }
            }

            span.reference,
            span.next_verse {
                font-style: italic;

                @include theme.apply( themes.$themes ) {
                    color: theme.get('search_next_text');
                }
            }

            span.next_verse_match {
                font-weight: bold;
                font-style: italic;

                @include theme.apply( themes.$themes ) {
                    color: theme.get('search_match_text');
                }
            }
        }
    }

    div.query {
        width: 28.5em;

        p.prompt {
            height : 3em;
            padding: 0.2em 0.5em;
        }

        p.reply {
            height : 12em;
            padding: 0.2em 0.5em;
        }
    }

    div.material {
        width: 28.5em;

        span.reference {
            margin-left : 0.5em;
            margin-right: 0.5em;
        }

        p.content {
            height : 16em;
            padding: 0.2em 0.5em;
        }
    }

    div.reading, div.operation {
        display       : inline-block;
        vertical-align: top;
        margin-right  : 1em;
        margin-bottom : 0.5em;
    }
}

div#quiz,
div#drill {
    .hidden {
        * {
            display: none !important;
        }

        @include theme.apply( themes.$themes ) {
            color     : theme.get('fieldset_background') !important;
            background: theme.get('fieldset_background') !important;
        }
    }
}

div#quiz {
    div.timer {
        float       : left;
        margin-right: 1em;
        position    : relative;

        div.button_group {
            position: absolute;
            top     : 4em;
            left    : 0;

            button {
                display      : block;
                margin-bottom: 0.25em;
            }
        }
    }
}

div#drill {
    margin: 0;

    div.timer {
        margin-bottom: 1em;
    }

    div.timer,
    div.query_type_buttons {
        p {
            margin: 0;
        }

        button {
            display: block;
            margin : 0.25em 0;
        }
    }
}

div#queries {
    div.intro {
        padding-bottom: 1em;
        margin-bottom : 1em;
        border-bottom : 3px double;

        @include theme.apply( themes.$themes ) {
            border-color: theme.get('lines');
        }
    }

    div.query_id {
        break-inside: avoid;
    }

    & > div.query_id ~ div.query_id {
        margin-top : 1em;
        padding-top: 1em;
        border-top : 3px double;

        @include theme.apply( themes.$themes ) {
            border-color: theme.get('lines');
        }
    }

    div.query {
        display       : inline-block;
        vertical-align: top;
        margin-right  : 1em;
    }

    p.announcement span {
        background-color: white;
        padding         : 0 0.2em;
        border          : 1px solid;

        @include theme.apply( themes.$themes ) {
            border-color: theme.get('lines');
        }
    }
}

@media ( max-width: 700px ) {
    div#quiz {
        div.select_type,
        div.results,
        div.quiz_control {
            min-width: inherit;
            display  : inline-grid;
        }

        table.board {
            font-size  : calc( 100vw / 58 );
            line-height: 1.5em;
        }
    }


    div#quiz div.timer div.button_group {
        position: unset;
    }

}

@media ( max-width: 505px ) {
    div#drill {
        div.timer button,
        div.query_type_buttons button {
            display     : inline-block;
            margin-right: 0.25em;
       }
    }
}

div#lookup {
    div.material {
        margin-top: 0.5em;
        padding   : 0.25em;
        border    : 1px solid;
        overflow-y: scroll;
        height    : calc( 100vh - 10em);

        @include theme.apply( themes.$themes ) {
            background  : theme.get('form_elements_background');
            border-color: theme.get('lines');
        }

        @include theme.apply( themes.$styles, 'style' ) {
            border-radius: theme.get('radius');
        }
    }

    div.verses {
        width       : calc( 50vw );
        margin-right: 1em;

        button {
            margin: 0 0.125em;

            &.selected {
                @include theme.apply( themes.$themes ) {
                    background: theme.get('button_selected');
                }
            }
        }

        select {
            margin : 0 0.125em;
            padding: 0.125em 0.25em;

            @include theme.apply( themes.$styles, 'style' ) {
                border-radius: calc( theme.get('radius') / 2 );
            }
        }

        div.material {
            p {
                margin      : 0;
                padding     : 0.25em;
                padding-left: 1.25em;
                text-indent : -1em;

                @include theme.apply( themes.$styles, 'style' ) {
                    border-radius: calc( theme.get('radius') / 2 );
                }

                &.selected {
                    @include theme.apply( themes.$themes ) {
                        color     : theme.get('search_match_text');
                        background: theme.get('search_is_current_query');
                    }
                }
            }
        }
    }

    div.synonyms {
        width: calc( 50vw - 3.5em );

        input {
            margin-bottom: -0.125em;
        }

        span.word {
            font-weight    : bold;
            text-decoration: underline;
        }

        ul {
            margin: 0 0 0 1em;
        }

        li {
            list-style : none;
        }
    }

    div.verses,
    div.synonyms {
        vertical-align: top;
        display       : inline-block;
    }

    @media ( max-width: 800px ) {
        div.verses,
        div.synonyms {
            display: block;
            width  : auto;
        }

        div.synonyms {
            margin-top: 1em;
        }

        div.material {
            height: calc( 50vh - 7em);
        }
    }

    @media ( max-width: 700px ) {
        div.material {
            height: calc( 50vh - 8.25em);
        }
    }
}

div.query p.prompt,
div.query p.reply,
div.material p.content,
div.synonyms div.material,
p.terms span.term {
    position: relative;

    span.flag {
        display  : block;
        position : absolute;
        top      : 0.125em;
        right    : 0.125em;
        cursor   : pointer;

        @include theme.apply( themes.$themes ) {
            color: theme.get('material_buffer_text');
        }

        &:hover {
            @include theme.apply( themes.$themes ) {
                color: theme.get('a_hover');
            }
        }
    }
}

div.query p.reply,
div.material p.content {
    & > span.flag {
        top   : auto;
        bottom: 0.125em;
    }
}

dialog.flag {
    position     : absolute;
    top          : 0;
    z-index      : 1000;
    margin       : 2em auto 0 auto;
    padding      : 1em;
    outline      : none;
    border       : 1px solid;
    max-width    : calc( 100vw - 6em );
    border-radius: 0.5em;

    @include theme.apply( themes.$themes ) {
        color       : theme.get('text');
        border-color: theme.get('lines');
        filter      : drop-shadow( 0px 0px 0.5rem theme.get('lines') );
    }

    @include theme.apply( themes.$styles, 'style' ) {
        border-radius: calc( theme.get('radius') * 2 );
    }

    @include theme.apply( themes.$themes ) {
        background: theme.get('dialog_error_background');
    }

    form {
        text-align: right;

        textarea {
            width : calc( 100% - 0.5em );
            height: 12em;
        }

        button {
            margin-left: 0.5em;
        }
    }
}
