@use 'theme';
@use 'themes';

table.board {
    border: none;

    td.top_left_corner {
        @include theme.apply( themes.$themes ) {
            background  : theme.get('main_background');
            border-color:
                theme.get('td_background')
                theme.get('lines')
                theme.get('lines')
                theme.get('td_background');
        }
    }

    td.not_trigger_eligible {
        font-style: italic;

        @include theme.apply( themes.$themes ) {
            background: theme.get('blank_cell');
        }
    }

    td.clickable {
        cursor: pointer;

        &:hover {
            @include theme.apply( themes.$themes ) {
                background: theme.get('td_clickable_hover_background');
            }
        }
    }

    tr.selected td {
        @include theme.apply( themes.$themes ) {
            background: theme.get('td_selected_background');
        }
    }

    td.selected {
        @include theme.apply( themes.$themes ) {
            background: theme.get('td_selected_background');
        }

        &:hover {
            @include theme.apply( themes.$themes ) {
                background: theme.get('td_selected_hover_background');
            }
        }
    }

    tr.vertical td, td.vertical {
        writing-mode  : vertical-rl;
        padding       : 0.3em 0px 0.3em 0em;
        width         : 2.5em;
        vertical-align: middle;
    }

    @-moz-document url-prefix() {
        tr.vertical td, td.vertical {
            padding-left: 0.125em;
            width       : 3em;
        }
    }

    tr.vertical td[rowspan="3"] {
        white-space: nowrap;
    }

    tr.vertical td.clickable div {
        min-height: 4em;
    }

    tr.center td, td.center {
        text-align: center;
    }

    tr.right td, td.right {
        text-align: right;
    }

    tbody tr td:nth-of-type(1) {
        width: 2em;
    }

    tbody tr td:nth-of-type(2) {
        width: 3em;
    }

    td.team_name,
    td.team_score_position,
    td.team_score_points {
        font-weight: bold;
    }

    td.team_name {
        padding-left: 0.7em;
    }
}

table.board {
    thead {
        td.top_left_corner {
            border: none;
        }

        tr:first-of-type td.team_name,
        tr:first-of-type td.team_score_position {
            border-top: 1px solid;

            @include theme.apply( themes.$themes ) {
                border-color: theme.get('lines');
            }
        }

        tr:first-of-type td:nth-of-type(2) {
            @include theme.apply( themes.$styles, 'style' ) {
                border-top-left-radius: theme.get('radius');
            }
        }

        tr:first-of-type td:last-of-type {
            @include theme.apply( themes.$styles, 'style' ) {
                border-top-right-radius: theme.get('radius');
            }
        }

        tr:last-of-type td,
        td[rowspan="3"] {
            border-bottom: none;
        }

        tr:nth-last-of-type(1),
        tr:nth-last-of-type(2) {
            td:last-of-type {
                border-right: none;
            }
        }
    }

    tbody {
        tr:first-of-type td {
            border-top: 1px solid;

            @include theme.apply( themes.$themes ) {
                border-color: theme.get('lines');
            }
        }

        tr:first-of-type td:first-of-type {
            @include theme.apply( themes.$styles, 'style' ) {
                border-top-left-radius: theme.get('radius');
            }
        }
    }
}

div#board {
    width     : max-content;
    margin    : 1em auto;
    overflow-y: scroll;
    max-height: calc( 100vh - 2em );

    table.board {
        margin: 0;

        td.clickable {
            cursor: default;

            &:hover {
                @include theme.apply( themes.$themes ) {
                    background: theme.get('td_background');
                }
            }
        }

        td.not_trigger_eligible {
            &:hover {
                @include theme.apply( themes.$themes ) {
                    background: theme.get('blank_cell');
                }
            }
        }

        &:nth-of-type(1) {
            position: fixed;

            td.top_left_corner {
                border-bottom: 1px solid;

                @include theme.apply( themes.$themes ) {
                    border-color: theme.get('lines');
                }
            }
        }

        &:nth-of-type(2) tr:first-of-type td:first-of-type {
            border-radius: 0;
        }

        &:nth-of-type(1) tbody,
        &:nth-of-type(2) thead {
            visibility: hidden;
        }

        &:nth-of-type(1) thead {
            @include theme.apply( themes.$themes ) {
                background: theme.get('main_background');
            }

            tr:last-of-type td,
            tr.vertical td[rowspan="3"] {
                border-bottom: 1px solid;

                @include theme.apply( themes.$themes ) {
                    border-color: theme.get('lines');
                }
            }
        }
    }

    &.chrome table.board:nth-of-type(1) thead tr.vertical td[rowspan="3"] {
        width: calc( 2.5em - 1px );
    }
}

div#board::-webkit-scrollbar {
    background: transparent;
    width     : 0px;
}

div#board {
    scrollbar-width   : none;
    -ms-overflow-style: none;
}
