@use 'theme';
@use 'themes';

div.info_box {
    margin : 1rem 0;
    padding: 0.25em 0.5em;
    border : solid 1px;

    @include theme.apply( themes.$themes ) {
        border-color: theme.get('lines');
        background  : theme.get('form_elements_background');
    }

    @include theme.apply( themes.$styles, 'style' ) {
        border-radius: theme.get('radius');
    }
}

div.summary_box {
    border          : 1px solid;
    display         : inline-block;
    margin          : 0.5em;
    padding         : 0.5em;
    width           : 13em;
    height          : 15em;
    vertical-align  : top;

    @include theme.apply( themes.$themes ) {
        border-color: theme.get('lines');
        background  : theme.get('form_elements_background');
    }

    @include theme.apply( themes.$styles, 'style' ) {
        border-radius: calc( theme.get('radius') * 2 );
    }
}

div.schedule_row_lead {
    width: 6em;
}

div.roster_box {
    min-height: 16em;
}

div.distribution_box {
    width : 10em;
    height: 26em;

    table {
        margin-left : auto;
        margin-right: auto;
    }
}

body.state div.schedule_row {
    font-size   : 75%;
    line-height : 1.5em;
    padding-left: 8em;

    div.schedule_row_lead {
        margin-left: calc( -8em + 1px );
    }
}

table.stats {
    font-size  : 75%;
    line-height: 1.5em;

    @media ( max-width: 1150px ) {
        font-size  : 70%;
        line-height: 1.5em;
    }

    @media ( max-width: 1080px ) {
        font-size  : 65%;
        line-height: 1.5em;
    }

    @media ( max-width: 1000px ) {
        font-size  : 60%;
        line-height: 1.5em;
    }

    @media ( max-width: 910px ) {
        font-size  : 55%;
        line-height: 1.5em;
    }

    @media ( max-width: 840px ) {
        font-size  : 50%;
        line-height: 1.5em;
    }

    @media ( max-width: 770px ) {
        font-size  : 45%;
        line-height: 1.5em;
    }

    @media ( max-width: 710px ) {
        font-size  : 40%;
        line-height: 1.5em;
    }

    @media ( max-width: 620px ) {
        font-size  : 35%;
        line-height: 1.5em;
    }

    @media ( max-width: 550px ) {
        font-size  : 30%;
        line-height: 1.5em;
    }
}
