[%
    IF position == 1;
        '1<sup>st</sup>';
    ELSIF position == 2;
        '2<sup>nd</sup>';
    ELSIF position == 3;
        '3<sup>rd</sup>';
    ELSE;
        position _ '<sup>th</sup>';
    END;
%]
