[% IF quizzer_verses AND quizzer_verses.size > 0 %]
    <table>
        <thead>
            <tr>
                <th>Reference(s)</th>
                <th>Correct</th>
                <th>Incorrect</th>
                <th>Accuracy</th>
            </tr>
        </thead>
        <tbody>
            [% FOR verse IN quizzer_verses %]
                <tr>
                    <td>[% verse.ref %]</td>
                    <td class="right">[% verse.correct %]</td>
                    <td class="right">[% verse.incorrect %]</td>
                    <td class="right">[% 100 * verse.accuracy | format('%0.1f') %]%</td>
                </tr>
            [% END %]
        </tbody>
    </table>
[% ELSE %]
    <p>There appears to be no data.</p>
[% END %]
