$dark_text        : #18191f   !default;
$light_text       : #3f434b   !default;
$background       : AliceBlue     !default;
$lines            : silver !default;

$a_link   : blue !default;
$a_visited: darkblue !default;
$a_hover  : blue !default;
$a_active : darkred !default;

body {
    background-color: $background;
    color           : $dark_text;
}

a:link {
    color: $a_link;
}

a:visited {
    color: $a_visited
}

a:hover {
    color: $a_hover;
}

a:active {
    color: $a_active;
}
