$root_font_size: 14px !default;

@use '../css/fonts/inter-tight';
@use '../css/fonts/material-icons';

:root {
    font-size: $root_font_size;
}

body {
    font-family: 'Inter Tight', sans-serif;
    font-weight: 400;
    font-size  : 1em;
    line-height: 1.5em;
}

.material-symbols-outlined {
    font-size: 2rem;
}
