@use 'theme';
@use 'themes';

body {
    @include theme.apply( themes.$themes ) {
        color: theme.get('text');
    }

    ::selection {
        @include theme.apply( themes.$themes ) {
            color     : theme.get('selection_color');
            background: theme.get('selection_background');
        }
    }

    a:link {
        @include theme.apply( themes.$themes ) {
            color: theme.get('a_link');
        }
    }

    a:visited {
        @include theme.apply( themes.$themes ) {
            color: theme.get('a_visited');
        }
    }

    a:hover {
        @include theme.apply( themes.$themes ) {
            color: theme.get('a_hover');
        }
    }

    a:active {
        @include theme.apply( themes.$themes ) {
            color: theme.get('a_active');
        }
    }

    li > ul,
    ul.column,
    ul > ul {
        margin-top   : 0;
        margin-bottom: 0;
    }

    li.no_bullet {
        margin-left    : -1em;
        list-style-type: none;
    }

    li {
        margin-top   : 0.125em;
        margin-bottom: 0.125em;
    }

    dialog.memo {
        @include theme.apply( themes.$themes ) {
            color       : theme.get('text');
            border-color: theme.get('lines');
            filter      : drop-shadow( 0px 0px 0.5rem theme.get('lines') );
        }

        @include theme.apply( themes.$styles, 'style' ) {
            border-radius: calc( theme.get('radius') * 2 );
        }

        &.error {
            @include theme.apply( themes.$themes ) {
                background: theme.get('dialog_error_background');
            }
        }

        &.success {
            @include theme.apply( themes.$themes ) {
                background: theme.get('dialog_success_background');
            }
        }

        &.notice {
            @include theme.apply( themes.$themes ) {
                background: theme.get('dialog_notice_background');
            }
        }

        form button {
            margin-top: 0;
        }
    }

    details {
        border   : 1px solid;
        padding  : 0.25em 1em;
        display  : block;
        max-width: max-content;

        @include theme.apply( themes.$themes ) {
            border-color: theme.get('lines');
            background  : theme.get('fieldset_background');
        }

        @include theme.apply( themes.$styles, 'style' ) {
            border-radius: calc( theme.get('radius') * 2 );
        }

        &:hover {
            @include theme.apply( themes.$themes ) {
                border-color: theme.get('form_hover_border_color');
            }
        }

        & + details {
            margin-top: 1em;
        }

        summary {
            cursor     : pointer;
            font-weight: bold;

            @include theme.apply( themes.$themes ) {
                color: theme.get('nav_icon_color');
            }

            &:hover {
                @include theme.apply( themes.$themes ) {
                    color: theme.get('nav_icon_color_hover');
                }
            }

            &:active {
                @include theme.apply( themes.$themes ) {
                    color: theme.get('nav_icon_color_active');
                }
            }

            input[type='checkbox'] {
                margin-right: 0.25em;
            }
        }

        &[open] {
            padding: 0.25em 1em 0 1em;
        }
    }
}
