@use 'theme';
@use 'themes';

body {
    @include theme.apply( themes.$themes ) {
        color: theme.get('text');
    }

    a:link {
        @include theme.apply( themes.$themes ) {
            color: theme.get('a_link');
        }
    }

    a:visited {
        @include theme.apply( themes.$themes ) {
            color: theme.get('a_visited');
        }
    }

    a:hover {
        @include theme.apply( themes.$themes ) {
            color: theme.get('a_hover');
        }
    }

    a:active {
        @include theme.apply( themes.$themes ) {
            color: theme.get('a_active');
        }
    }

    li > ul {
        margin-top   : 0;
        margin-bottom: 0;
    }
}

dialog {
    margin   : 2em auto 0 auto;
    padding  : 1em;
    border   : 1px solid;
    max-width: calc( 100vw - 6em );
    z-index  : 100;

    @include theme.apply( themes.$themes ) {
        color       : theme.get('text');
        border-color: theme.get('lines');
    }

    @include theme.apply( themes.$styles, 'style' ) {
        border-radius: calc( theme.get('radius') * 2 );
    }

    form {
        text-align: right;
    }

    &.error {
        @include theme.apply( themes.$themes ) {
            background: theme.get('dialog_error_background');
        }
    }

    &.success {
        @include theme.apply( themes.$themes ) {
            background: theme.get('dialog_success_background');
        }
    }
}
