$header_height: 2rem   !default;
$footer_height: 0.5rem !default;
$border_width : 1px    !default;
$padding      : 1rem   !default;

@use 'theme';
@use 'themes';

body {
    margin: 0;

    header {
        height          : $header_height;
        border-bottom   : $border_width solid;
        padding         : $padding;

        @include theme.apply( themes.$themes ) {
            background         : theme.get('header_background');
            border-bottom-color: theme.get('lines');
        }

        img, h1 {
            display: inline-block;
            margin : 0;
            margin: -0.25rem 0.25rem 0 0;
        }

        h1 {
            @include theme.apply( themes.$themes ) {
                color: theme.get('header_text');
            }
        }

        div {
            position: absolute;
            top     : 1rem;
            right   : 3rem;
            z-index : 20;

            a {
                margin-right: 1rem;
            }
        }

        a span.material-symbols-outlined {
            @include theme.apply( themes.$themes ) {
                color: theme.get('nav_icon_color');
            }

            &:hover {
                @include theme.apply( themes.$themes ) {
                    color: theme.get('nav_icon_color_hover');
                }
            }

            &:active {
                @include theme.apply( themes.$themes ) {
                    color: theme.get('nav_icon_color_active');
                }
            }
        }

        a.current span.material-symbols-outlined {
            @include theme.apply( themes.$themes ) {
                color: theme.get('nav_icon_color_current');
            }
        }
    }

    a.toggle_menu {
        position: absolute;
        top     : 1rem;
        right   : 1rem;
    }

    a.toggle_menu.current {
        @include theme.apply( themes.$themes ) {
            color: theme.get('nav_icon_color_current');
        }
    }

    a.toggle_menu:hover {
        @include theme.apply( themes.$themes ) {
            color: theme.get('nav_icon_color_hover');
        }
    }

    a.toggle_menu:active {
        @include theme.apply( themes.$themes ) {
            color: theme.get('nav_icon_color_active');
        }
    }

    nav {
        display    : none;
        position   : fixed;
        top        : 0;
        left       : auto;
        right      : 0;
        height     : auto;
        padding-top: 3rem;
        z-index    : 10;

        @include theme.apply( themes.$themes ) {
            background: theme.get('header_background');
        }

        @include theme.apply( themes.$styles, 'style' ) {
            border-bottom-left-radius: calc( theme.get('radius') * 2 );
        }

        &:target {
            display: block;
        }

        ul {
            margin-left: 1em;
        }

        li {
            list-style-type: none;
            margin         : 0.25em 0;
        }

        & > ul {
            padding-top   : 0.25em;
            padding-right : 1em;
            margin-left   : 0em;
            padding-left  : 1em;
            margin-bottom : 0em;
            padding-bottom: 0.75em;
            border-left   : $border_width solid;
            border-bottom : $border_width solid;

            @include theme.apply( themes.$themes ) {
                border-color: theme.get('lines');
            }

            @include theme.apply( themes.$styles, 'style' ) {
                border-bottom-left-radius: calc( theme.get('radius') * 2 );
            }
        }
    }

    main {
        padding   : $padding;
        min-height: calc(
            100vh -
            ( $header_height + $footer_height + $border_width + $padding * 6 )
        );

        @include theme.apply( themes.$themes ) {
            background: theme.get('main_background');
        }

        p:first-child {
            margin-top: 0;
        }
    }

    footer {
        overflow   : hidden;
        white-space: nowrap;
        height     : $footer_height;
        padding    :
            calc( $padding / 2 )
            $padding
            calc( $padding / 2 * 3 )
            $padding;

            @include theme.apply( themes.$themes ) {
                color     : theme.get('footer_color');
                background: theme.get('footer_background');
            }

        span {
            padding: 0 0.5em;
            @include theme.apply( themes.$themes ) {
                color: theme.get('footer_separator');
            }
        }

        a:link {
            @include theme.apply( themes.$themes ) {
                color: theme.get('footer_a_link');
            }
        }

        a:visited {
            @include theme.apply( themes.$themes ) {
                color: theme.get('footer_a_visited');
            }
        }

        a:hover {
            @include theme.apply( themes.$themes ) {
                color: theme.get('footer_a_hover');
            }
        }

        a:active {
            @include theme.apply( themes.$themes ) {
                color: theme.get('footer_a_active');
            }
        }
    }
}
