$header_scale : 0.75  !default;
$footer_scale : 0.875 !default;

$header_height: 2rem * $header_scale !default;
$footer_height: 1rem * $footer_scale !default;

$border_width : 1px  !default;
$padding      : 1rem !default;

@use 'theme';
@use 'themes';

body {
    margin: 0;

    @include theme.apply( themes.$themes ) {
        background: theme.get('main_background');
    }

    header {
        font-size    : 1em * $header_scale;
        line-height  : 1em;
        height       : $header_height;
        padding      : $padding * $header_scale;
        border-bottom: $border_width solid;

        @include theme.apply( themes.$themes ) {
            background         : theme.get('header_background');
            border-bottom-color: theme.get('lines');
        }

        img, h1 {
            display: inline-block;
            margin : 0;
        }

        img {
            vertical-align: middle;
            margin-right  : 0.25em;

            &:hover {
                filter: invert(1);
            }
        }

        h1 {
            font-size  : 2em;
            line-height: 1em;

            @include theme.apply( themes.$themes ) {
                color: theme.get('header_text');
            }
        }

        div {
            position: absolute;
            top     : 1em;
            right   : 3em;
            z-index : 50;

            a {
                margin-right: 1em;
            }
        }

        a span.material-symbols-outlined {
            @include theme.apply( themes.$themes ) {
                color: theme.get('nav_icon_color');
            }

            &:hover {
                @include theme.apply( themes.$themes ) {
                    color: theme.get('nav_icon_color_hover');
                }
            }

            &:active {
                @include theme.apply( themes.$themes ) {
                    color: theme.get('nav_icon_color_active');
                }
            }
        }

        a.current span.material-symbols-outlined {
            @include theme.apply( themes.$themes ) {
                color: theme.get('nav_icon_color_current');
            }
        }
    }

    a.toggle_menu {
        position: absolute;
        top     : 1em;
        right   : 1em;
    }

    a.toggle_menu.current {
        font-size: 1em * $header_scale;

        @include theme.apply( themes.$themes ) {
            color: theme.get('nav_icon_color_current');
        }
    }

    a.toggle_menu:hover {
        @include theme.apply( themes.$themes ) {
            color: theme.get('nav_icon_color_hover');
        }
    }

    a.toggle_menu:active {
        @include theme.apply( themes.$themes ) {
            color: theme.get('nav_icon_color_active');
        }
    }

    nav {
        display    : none;
        position   : absolute;
        top        : 0;
        left       : auto;
        right      : 0;
        height     : auto;
        padding-top: 3em;
        z-index    : 40;

        @include theme.apply( themes.$themes ) {
            background: theme.get('header_background');
        }

        @include theme.apply( themes.$styles, 'style' ) {
            border-bottom-left-radius: calc( theme.get('radius') * 2 );
        }

        &:target {
            display: block;
        }

        a.toggle_menu {
            top: calc( 1em - 1px );
        }

        ul {
            margin-left: 1em;
        }

        li {
            list-style-type: none;
            margin         : 0.25em 0;
        }

        & > ul {
            margin-top   : ( $header_scale - 1rem ) * 4 + 1rem;
            margin-left  : 0em;
            margin-bottom: 0em;
            padding      : 0.25em 1em 0.75em 1em;
            border-left  : $border_width solid;
            border-bottom: $border_width solid;

            @include theme.apply( themes.$themes ) {
                border-color: theme.get('lines');
            }

            @include theme.apply( themes.$styles, 'style' ) {
                border-bottom-left-radius: calc( theme.get('radius') * 2 );
            }
        }
    }

    main {
        padding   : $padding;
        min-height: calc(
            100vh -
            (
                $header_height +
                $footer_height +
                $border_width +
                $padding * 2 +
                $padding * $header_scale * 2 +
                $padding * $footer_scale / 1.5 * 2
            )
        );

        @include theme.apply( themes.$themes ) {
            background: theme.get('main_background');
        }

        p:first-child {
            margin-top: 0;
        }
    }

    footer {
        font-size  : calc( 1em * $footer_scale );
        line-height: 1em;
        overflow   : hidden;
        white-space: nowrap;
        height     : $footer_height;
        padding    : calc( $padding * $footer_scale / 1.5 );

        @include theme.apply( themes.$themes ) {
            color     : theme.get('footer_color');
            background: theme.get('footer_background');
        }

        span.separator {
            padding: 0 0.5em;
            @include theme.apply( themes.$themes ) {
                color: theme.get('footer_separator');
            }
        }

        a:link {
            @include theme.apply( themes.$themes ) {
                color: theme.get('footer_a_link');
            }
        }

        a:visited {
            @include theme.apply( themes.$themes ) {
                color: theme.get('footer_a_visited');
            }
        }

        a:hover {
            @include theme.apply( themes.$themes ) {
                color: theme.get('footer_a_hover');
            }
        }

        a:active {
            @include theme.apply( themes.$themes ) {
                color: theme.get('footer_a_active');
            }
        }

        span.show_priority_3,
        span.show_priority_4 {
            display: none;
        }

        @media ( max-width: 880px ) {
            span.hide_priority_1 {
                display: none;
            }
        }

        @media ( max-width: 760px ) {
            span.hide_priority_2 {
                display: none;
            }
        }

        @media ( max-width: 660px ) {
            span.hide_priority_3 {
                display: none;
            }

            span.show_priority_3 {
                display: inline;
            }
        }

        @media ( max-width: 500px ) {
            span.hide_priority_4 {
                display: none;
            }

            span.show_priority_4 {
                display: inline;
            }
        }

        @media ( max-width: 380px ) {
            span.hide_priority_5 {
                display: none;
            }
        }
    }

    @media ( max-width: 700px ) {
        header h1 {
            position: absolute;
            left    : $padding;
            top     : $header_height + $padding * 2.5;

            @include theme.apply( themes.$themes ) {
                color: theme.get('text');
            }

            span.hide_priority_1 {
                display: none;
            }
        }

        main {
            padding-top: calc( $padding + 2.5em );
            min-height: calc(
                100vh -
                (
                    $header_height +
                    $footer_height +
                    $border_width +
                    $padding * 2 +
                    $padding * $header_scale * 2 +
                    $padding * $footer_scale / 1.5 * 2 +
                    2.5em
                )
            );
        }
    }

    @media ( ( ( max-width: 735px ) and ( min-width: 700px ) ) or ( max-width: 415px ) ) {
        header div a:first-child {
            display: none;
        }
    }

    @media ( max-width: 380px ) {
        header div a {
            margin-right: 0.5em;
        }
    }

    @media ( max-width: 325px ) {
        header div a {
            margin-right: 0em;
        }
    }

    @media ( max-width: 275px ) {
        header div {
            display: none;
        }
    }
}
