@use 'theme';
@use 'themes';

.column {
    display       : inline-block;
    vertical-align: top;
}

.relative {
    position: relative;
}

.no_wrap {
    white-space: nowrap;
}

.blank_cell {
    @include theme.apply( themes.$themes ) {
        background: theme.get('blank_cell');
    }
}

img.captcha {
    border: solid 1px;
    width : 13.5em;

    @include theme.apply( themes.$themes ) {
        border-color: theme.get('lines');
    }

    @include theme.apply( themes.$styles, 'style' ) {
        border-radius: theme.get('radius');
    }
}

fieldset.roster {
    margin-right: 1em;

    input[type='text'] {
        width: 5em;
    }

    textarea {
        width : 11em;
        height: 22em;
    }
}

fieldset.material_label {
    text-align: left;

    textarea {
        width : calc( 100vw - 21em );
        height: 10em;
    }

    @media ( max-width: 700px ) {
        display: block;

        textarea {
            width : calc( 100vw - 5em );
        }
    }
}

fieldset.teams {
    text-align: left;

    textarea {
        width : 10em;
        height: 5em;
    }
}

div.teams_column {
    display       : inline-block;
    vertical-align: top;
    margin-left   : 3em;
    margin-top    : 1em;
}

div.info_box {
    margin : 1rem 0;
    padding: 0.25em 0.5em;
    border : solid 1px;

    @include theme.apply( themes.$themes ) {
        border-color: theme.get('lines');
        background  : theme.get('form_elements_background');
    }

    @include theme.apply( themes.$styles, 'style' ) {
        border-radius: theme.get('radius');
    }
}

div.summary_box {
    border          : 1px solid;
    display         : inline-block;
    margin          : 0.5em;
    padding         : 0.5em;
    width           : 13em;
    height          : 11em;
    vertical-align  : top;

    @include theme.apply( themes.$themes ) {
        border-color: theme.get('lines');
        background  : theme.get('form_elements_background');
    }

    @include theme.apply( themes.$styles, 'style' ) {
        border-radius: calc( theme.get('radius') * 2 );
    }
}

div.schedule_row_lead {
    width: 6rem;
}

div.roster_box {
    min-height: 16em;
}

div.distribution_box {
    width : 10em;
    height: 26em;

    table {
        margin-left : auto;
        margin-right: auto;
    }
}

span.query {
    position: absolute;
    top     : 0.5em;
    right   : 0.75em;
}

a.qm_auth {
    font-style     : italic;
    position       : absolute;
    bottom         : 0.5em;
    right          : 0.75em;
    text-decoration: none;
}

table.stats {
    @media ( max-width: 1200px ) {
        font-size  : 0.9em;
        line-height: 1.5em;
    }

    @media ( max-width: 1080px ) {
        font-size  : 0.8em;
        line-height: 1.5em;
    }

    @media ( max-width: 960px ) {
        font-size  : 0.7em;
        line-height: 1.5em;
    }

    @media ( max-width: 850px ) {
        font-size  : 0.6em;
        line-height: 1.5em;
    }

    @media ( max-width: 740px ) {
        font-size  : 0.5em;
        line-height: 1.5em;
    }
}
