@use 'sass:color';
@use 'sass:math';
@use 'theme';
@use 'themes';

.column {
    display       : inline-block;
    vertical-align: top;
}

.relative {
    position: relative;
}

.no_wrap {
    white-space: nowrap;
}

.blank_cell {
    @include theme.apply( themes.$themes ) {
        background: theme.get('blank_cell');
    }
}

.bottom th,
.bottom td {
    vertical-align: bottom;
}

.small {
    font-size  : 75%;
    line-height: 1.5em;
}

.tie {
    font-style: italic;

    @include theme.apply( themes.$themes ) {
        color: theme.get('lines');
    }
}

p.buttons {
    margin-top   : 0;
    margin-bottom: 1em;
}

img.captcha {
    border: solid 1px;
    width : 13.5em;

    @include theme.apply( themes.$themes ) {
        border-color: theme.get('lines');
    }

    @include theme.apply( themes.$styles, 'style' ) {
        border-radius: theme.get('radius');
    }
}

fieldset.roster {
    margin-right: 1em;

    input[type='text'] {
        width: 5em;
    }

    textarea {
        width : 11em;
        height: 22em;
    }
}

fieldset.material_label {
    text-align: left;

    textarea {
        width : calc( 100vw - 21em );
        height: 10em;
    }

    @media ( max-width: 700px ) {
        display: block;

        textarea {
            width : calc( 100vw - 5em );
        }
    }
}

fieldset.teams {
    text-align: left;

    textarea {
        width : 10em;
        height: 5em;
    }
}

div.teams_column {
    display       : inline-block;
    vertical-align: top;
    margin-left   : 3em;
    margin-top    : 1em;
}

div.info_box {
    margin : 1rem 0;
    padding: 0.25em 0.5em;
    border : solid 1px;

    @include theme.apply( themes.$themes ) {
        border-color: theme.get('lines');
        background  : theme.get('form_elements_background');
    }

    @include theme.apply( themes.$styles, 'style' ) {
        border-radius: theme.get('radius');
    }
}

div.summary_box {
    border          : 1px solid;
    display         : inline-block;
    margin          : 0.5em;
    padding         : 0.5em;
    width           : 13em;
    height          : 11em;
    vertical-align  : top;

    @include theme.apply( themes.$themes ) {
        border-color: theme.get('lines');
        background  : theme.get('form_elements_background');
    }

    @include theme.apply( themes.$styles, 'style' ) {
        border-radius: calc( theme.get('radius') * 2 );
    }
}

div.schedule_row_lead {
    width: 6em;
}

div.roster_box {
    min-height: 16em;
}

div.distribution_box {
    width : 10em;
    height: 26em;

    table {
        margin-left : auto;
        margin-right: auto;
    }
}

span.query {
    position: absolute;
    top     : 0.5em;
    right   : 0.75em;
}

a.qm_auth {
    font-style     : italic;
    position       : absolute;
    bottom         : 0.5em;
    right          : 0.75em;
    text-decoration: none;
}

body.state div.schedule_row {
    font-size   : 75%;
    line-height : 1.5em;
    padding-left: 8em;

    div.schedule_row_lead {
        margin-left: calc( -8em + 1px );
    }
}

table.stats {
    font-size  : 75%;
    line-height: 1.5em;

    @media ( max-width: 1150px ) {
        font-size  : 70%;
        line-height: 1.5em;
    }

    @media ( max-width: 1080px ) {
        font-size  : 65%;
        line-height: 1.5em;
    }

    @media ( max-width: 1000px ) {
        font-size  : 60%;
        line-height: 1.5em;
    }

    @media ( max-width: 910px ) {
        font-size  : 55%;
        line-height: 1.5em;
    }

    @media ( max-width: 840px ) {
        font-size  : 50%;
        line-height: 1.5em;
    }

    @media ( max-width: 770px ) {
        font-size  : 45%;
        line-height: 1.5em;
    }

    @media ( max-width: 710px ) {
        font-size  : 40%;
        line-height: 1.5em;
    }

    @media ( max-width: 620px ) {
        font-size  : 35%;
        line-height: 1.5em;
    }

    @media ( max-width: 550px ) {
        font-size  : 30%;
        line-height: 1.5em;
    }
}

div.horizontal_scroller {
    max-width : max-content;
    overflow-x: auto;
    border    : 1px solid;

    @include theme.apply( themes.$themes ) {
        border-color: theme.get('lines');
        background  : theme.get('fieldset_background');
    }

    @include theme.apply( themes.$styles, 'style' ) {
        border-radius: theme.get('radius');
    }
}

div.tiles {
    font-size  : 75%;
    line-height: 1em;
    display    : flex;
    margin     : 1em 0;

    & > div:last-child > div {
        margin-right: 1em;
    }

    & > div {
        display       : flex;
        flex-direction: column;

        & > div {
            width : 1em;
            height: 1em;
            margin: 1px;
            border: 1px solid transparent;

            @include theme.apply( themes.$styles, 'style' ) {
                border-radius: calc( theme.get('radius') / 2 );
            }
        }
    }

    & > div:first-child {
        position: sticky;
        top     : 0;
        left    : 0;

        @include theme.apply( themes.$themes ) {
            background: theme.get('fieldset_background');
        }
    }

    & > div:first-child > div {
        width     : 3em;
        text-align: right;
    }

    & > div > div.tile_0 {
        @include theme.apply( themes.$themes ) {
            background  : theme.get('tiles_end_color');
            border-color: theme.get('lines');
        }
    }

    $max_steps: 12;
    @for $i from 1 through $max_steps {
        & > div > div.tile_#{$i} {
            @include theme.apply( themes.$themes ) {
                $this_step_color: mix(
                    theme.get('tiles_start_color'),
                    theme.get('tiles_end_color'),
                    math.div( $i, $max_steps ) * 100%
                );

                background  : $this_step_color;
                border-color: color.adjust( $this_step_color, $lightness: theme.get('tiles_border_alter') );
            }
        }
    }
}

details.with_horizontal_scroller {
    div.horizontal_scroller {
        margin-top: 1em;

        @include theme.apply( themes.$themes ) {
            background: theme.get('main_background');
        }

        div.tiles > div:first-child {
            @include theme.apply( themes.$themes ) {
                background: theme.get('main_background');
            }
        }
    }
}

@media ( max-width: 535px ) {
    form#share_memory_state fieldset {
        text-align: left;

        label.smart_search {
            input {
                display: block !important;
            }

            select {
                left: -1.75em;

                @include theme.apply( themes.$styles, 'style' ) {
                    border-top-left-radius: theme.get('radius');
                }
            }
        }
    }
}

form#shared_from_labels {
    button {
        margin: -1em 0 1em 0;
    }

    details details {
        margin-top   : 1em;
        margin-bottom: 1em;

        @include theme.apply( themes.$themes ) {
            background: theme.get('main_background');
        }
    }
}
