$themes: (
    light: (
        text : #18191f,
        lines: lightgray,

        a_link   : blue,
        a_visited: darkblue,
        a_hover  : blue,
        a_active : darkred,
        a_current: darkred,

        fieldset_background     : rgba( 255, 255, 255, 0.25 ),
        button_background       : silver,
        form_elements_background: white,

        header_background: white,
        header_text      : #3f434b,

        nav_icon_color        : darkblue,
        nav_icon_color_hover  : blue,
        nav_icon_color_active : darkred,
        nav_icon_color_current: darkred,

        main_background: linear-gradient(
            90deg,
            rgba( 218, 236, 247, 1 ) 0%,
            rgba( 236, 246, 254, 1 ) 33%,
            rgba( 189, 216, 236, 1 ) 100%
        ),

        footer_background: #0b0d17,
        footer_color     : lightgray,
        footer_a_link    : lightblue,
        footer_a_visited : lightgray,
        footer_a_hover   : lightblue,
        footer_a_active  : darkred,
        footer_separator : dimgray,

        dialog_error_background  : #fdd,
        dialog_success_background: #dfd,

        blank_cell: #f0f0f0,
    ),
    dark: (
        main_background: darkslategray,
    ),
    desert: (
        main_background: tan,
    ),
    midnight: (
        header_background: #222,
        header_text      : darkgray,

        main_background: black,

        text : darkgray,
        lines: darkslategray,

        nav_icon_color        : royalblue,
        nav_icon_color_hover  : deepskyblue,
        nav_icon_color_active : salmon,
        nav_icon_color_current: red,

        a_link   : royalblue,
        a_visited: steelblue,
        a_hover  : deepskyblue,
        a_active : salmon,
        a_current: red,

        footer_background: #222,
        footer_color     : darkgray,
        footer_a_link    : royalblue,
        footer_a_visited : steelblue,
        footer_a_hover   : deepskyblue,
        footer_a_active  : salmon,
        footer_separator : dimgray,

        legend_background          : #333,
        fieldset_background        : #222,
        input_text_color           : dimgray,
        input_background           : gray,
        button_text_color          : dimgray,
        button_background          : lightgray,
        form_hover_border_color    : lightgray,
        form_focus_border_color    : white,
        form_focus_background      : dimgray,
        form_disabled_color        : white,
        form_disabled_background   : white,
        form_active_color          : black,
        form_active_background     : black,
        form_active_border_color   : black,
        radiobox_background        : green,
        radiobox_checked_color     : red,
        radiobox_checked_background: yellow,

        th_text      : darkgray,
        th_background: #333,
        td_text      : darkgray,
        td_background: #222,
        blank_cell   : #f0f0f0,

        dialog_error_background  : #fdd,
        dialog_success_background: #dfd,
    ),
) !default;

$styles: (
    rounded: (
        radius: 0.5em,
    ),
    square: (
        radius: 0em,
    ),
) !default;
