@use 'base';
@use 'vue' with (
    $vue_spinner_speed    : 0.75s,
    $vue_spinner_base     : 1.5rem groove lightgray,
    $vue_spinner_highlight: 1.5rem groove green,
    $vue_spinner_width    : 1.5em,
    $vue_spinner_height   : 1.5em,
);
@use 'types';
@use 'main';
@use 'page';
@use 'zones';
@use 'miscellaneous';
@use 'print';
