@use 'base';
@use 'vue';
@use 'colors';
@use 'fonts';
@use 'forms';

div.quiz_summary_box {
    border          : 1px solid colors.$lines;
    background-color: white;
    display         : inline-block;
    margin          : 0.5em;
    padding         : 0.5em;
    width           : 13em;
    height          : 11em;
    vertical-align  : top;
}

$active_bg_btn : #e0ff00;
$active_bg_cell: #e0ffd0;

div#quiz {
    p {
        margin-top   : 0.5em;
        margin-bottom: 0.5em;
    }

    select:focus, textarea:focus, button:focus {
        border-color    : colors.$lines;
        background-color: base.$form_button_bgcolor;
    }

    button {
        margin: 0.1em;

        &.selected {
            background-color: $active_bg_btn;
        }
    }

    div.query p.announcement span,
    div.query p.prompt,
    div.query p.reply,
    div.material span.reference,
    div.material p.content {
        border          : 1px solid colors.$lines;
        background-color: white;
        padding         : 0 0.2em;
    }

    div.query p.announcement {
        margin-top: 0;
    }

    div.material span.reference {
        padding: 0.05em 0.3em;
    }

    div.thesaurus {
        ul {
            margin: 0 0 0 1em;
        }

        li {
            list-style : none;
        }

        & > ul {
            margin: 0;
        }

        & > ul > li:not(:first-child) {
            margin-top: 1em;
        }

        span {
            &.word {
                font-weight    : bold;
                text-decoration: underline;
            }

            &.required {
                color: blue;
            }

            &.ignored {
                font-style: italic;
                color     : green;
            }

            &.special {
                color: red;
            }

            &.item {
                position: relative;
            }

            &.item div.details {
                font-style      : normal;
                color           : black;
                display         : none;
                position        : absolute;
                top             : 100%;
                left            : 0;
                z-index         : 1;
                border          : 1px solid colors.$lines;
                background-color: white;
                padding         : 0 0.2em;
                transform       : translate( 0.5em, 0 );
                width           : 30em;
                max-height      : 20em;
                overflow-y      : auto;
            }

            @media ( max-width: 48em ) {
                &.item div.details {
                    width: 16em;
                }
            }

            &.item:hover div.details {
                display: block;
            }
        }
    }

    div.timer {
        float       : left;
        margin-right: 1em;
        position    : relative;

        div.timer_display {
            font-size       : 300%;
            font-weight     : bold;
            border          : 3px double colors.$lines;
            background-color: white;
            display         : inline-block;
            padding         : 0.25em 0.125em;
            margin-bottom   : 0.25em;
            width           : 1.6em;
            text-align      : center;
        }

        div.button_group {
            position: absolute;
            top     : 4em;
            left    : 0;
        }
    }

    div.select_type,
    div.results {
        min-width: 45em;
    }

    table.board {
        border: none;

        thead td {
            background-color: white;
        }

        td.top_left_corner {
            background-color: transparent;
            border-top      : none;
            border-left     : none;

            text-align    : right;
            vertical-align: bottom;
            padding-bottom: 0.5em;
            padding-right : 0.5em;
        }

        td.clickable {
            cursor: pointer;

            &:hover {
                background-color: $active_bg_cell;
            }
        }

        tr.selected td {
            background-color: $active_bg_cell;
        }

        td.selected {
            background-color: lightgreen;

            &:hover {
                background-color: lightgreen;
            }
        }

        tr.vertical td, td.vertical {
            writing-mode  : vertical-rl;
            padding       : 0.3em 0px 0.3em 0em;
            width         : 2.5em;
            vertical-align: middle;
        }

        @-moz-document url-prefix() {
            tr.vertical td, td.vertical {
                vertical-align: top;
                padding       : 0.3em 0 0.3em 1em;
            }
        }

        tr.center td, td.center {
            text-align: center;
        }

        tr.right td, td.right {
            text-align: right;
        }

        tbody tr td:nth-of-type(1) {
            width: 2em;
        }

        tbody tr td:nth-of-type(2) {
            width: 3em;
        }
    }

    div.search {
        label {
            margin-left: 0.5em;
        }

        table {
            tr td:nth-of-type(2) {
                width: 6em;
            }
        }
    }

    div.query {
        width: 30em;

        p.prompt {
            height : 3em;
            padding: 0.2em 0.5em;
        }

        p.reply {
            height : 10em;
            padding: 0.2em 0.5em;
        }
    }

    div.material {
        width: 30em;

        span.reference {
            margin-left : 0.5em;
            margin-right: 0.5em;
        }

        p.content {
            height : 14em;
            padding: 0.2em 0.5em;
        }
    }

    div.reading, div.operation {
        display       : inline-block;
        vertical-align: top;
        margin-right  : 1em;
    }
}
