div.quiz_summary_box {
    border          : 1px solid colors.$lines;
    background-color: white;
    display         : inline-block;
    margin          : 0.5em;
    padding         : 0.5em;
    width           : 13em;
    height          : 11em;
    vertical-align  : top;
}

$active_bg_btn : #e0ff00;
$active_bg_cell: #e0ffd0;

div#board {
    width     : max-content;
    margin    : 0 auto;
    overflow-y: scroll;
    max-height: calc( 100vh - 26px );

    table.board {
        margin: 0;

        td.clickable {
            cursor: default;

            &:hover {
                background-color: white;
            }
        }

        td.selected {
            background-color: white;
        }

        &:nth-of-type(1) {
            position: fixed;
        }

        &:nth-of-type(1) tbody,
        &:nth-of-type(2) thead {
                visibility: hidden;
        }

        &:nth-of-type(1) tbody td,
        &:nth-of-type(2) thead td {
            border: 1px solid transparent;
        }

        td {
            padding-top   : calc( ( 5vw - 15px ) / 6 );
            padding-bottom: calc( ( 5vw - 15px ) / 6 );
        }
    }
}

div#board::-webkit-scrollbar {
    background: transparent;
    width     : 0px;
}

div#board {
    scrollbar-width   : none;
    -ms-overflow-style: none;
}

body.dark_mode {
    color           : white;
    background-color: black;

    table.board {
        td,
        td.selected {
            background-color: #1e1e1e !important;
            border-color    : darkslategray;
        }

        tr.selected td {
            background-color: #2a2d2e !important;
        }

        td.top_left_corner {
            background-color: black !important;
            border-color    : black darkslategray darkslategray black;
        }
    }
}

div#drill div.query_type_buttons {
    p {
        margin: 0;
    }

    button {
        display: block;
        margin : 1em 0;
    }
}

div#queries {
    div.intro {
        padding-bottom: 1em;
        border-bottom : 3px double colors.$lines;
        margin-bottom : 1em;
    }

    div.query_id {
        break-inside: avoid;
    }

    & > div.query_id ~ div.query_id {
        margin-top : 1em;
        border-top : 3px double colors.$lines;
        padding-top: 1em;
    }

    div.query {
        display       : inline-block;
        vertical-align: top;
        margin-right  : 1em;
    }

    p.announcement span {
        border          : 1px solid colors.$lines;
        background-color: white;
        padding         : 0 0.2em;
    }
}

@media print {
    .no_print {
        display: none;
    }
}

// $table_border_radius: 0.5em;
// $table_box_shadow: 0 0 0.25em 0 rgba( 0, 0, 0, 0.25 );

// table {
//     border-collapse: separate;
//     border-radius  : $table_border_radius;

//     thead {
//         th:first-of-type {
//             border-top-left-radius: $table_border_radius;
//         }

//         th:last-of-type {
//             border-top-right-radius: $table_border_radius;
//         }
//     }

//     tbody tr:last-of-type {
//         td:first-of-type {
//             border-bottom-left-radius: $table_border_radius;
//         }

//         td:last-of-type {
//             border-bottom-right-radius: $table_border_radius;
//         }
//     }

//     border: none;

//     tr th:not(:last-of-type),
//     tr td:not(:last-of-type) {
//         border-right: none;
//     }

//     td {
//         border-top: none;
//     }
// }

table.board {
    thead {
        td.top_left_corner {
            background-color: transparent;
            border: none;
        }

        tr:first-of-type td.team_name,
        tr:first-of-type td.team_score_position {
            border-top: 1px solid silver;
        }

        tr:first-of-type td:nth-of-type(2) {
            border-top-left-radius: $table_border_radius;
        }

        tr:first-of-type td:last-of-type {
            border-top-right-radius: $table_border_radius;
        }

        tr:last-of-type td,
        td[rowspan="3"] {
            border-bottom: none;
        }
    }

    tbody {
        tr:first-of-type td {
            border-top: 1px solid silver;
        }

        tr:first-of-type td:first-of-type {
            border-top-left-radius: $table_border_radius;
        }
    }
}

div.search table {
    tr:first-of-type td {
        border-top: 1px solid silver;
    }

    tr:first-of-type td:first-of-type {
        border-top-left-radius: $table_border_radius;
    }

    tr:first-of-type td:last-of-type {
        border-top-right-radius: $table_border_radius;
    }

    tr:last-of-type td:first-of-type {
        border-bottom-left-radius: $table_border_radius;
    }

    tr:last-of-type td:last-of-type {
        border-bottom-right-radius: $table_border_radius;
    }
}

button,
p.prompt,
p.reply,
p.content,
span,
input[type="text"] {
    border-radius: $table_border_radius;
}

div.timer_display,
input[type="checkbox"] {
    border-radius: calc( $table_border_radius / 2 );
}

// TODO:
// templates/components/page.html.tt
// templates/pages/quiz/teams.html.tt
// templates/pages/quiz/practice.html.tt
// templates/pages/meet/stats.html.tt
// templates/pages/meet/distribution.html.tt
// templates/pages/meet/state.html.tt
// templates/pages/meet/roster.html.tt
// static/html/vue/components/search.html
