<h1>QuizSage: Set Official Password</h1>

<a href="[% c.url_for('/') %]">Main Page</a>

<form method="post" action="[% c.url_for('/main/qm_auth') %]">
    <fieldset>
        <legend>Quiz Write-Data Access</legend>

        <label>
            Password:
            <input type="password" name="qm_auth" value="" placeholder="Quiz Write-Data Password"
                autocomplete="one-time-code">
        </label>

        <input type="submit" value="Submit Quiz Password">
    </fieldset>
</form>
