---
tags:
  - name: Quiz Seasons
    description: |-
        Endpoints related to Quizzing seasons, typically annual.
paths:
    /season/list:
        get:
            summary: List seasons.
            description: |-
                This endpoint will return a data structure of all seasons, with `active` being
                if the season is a current active season as defined by if now is between the
                season's database values for `start` and `start` plus `days` duration.
            tags:
                - Quiz Seasons
            operationId: season_list
            x-mojo-to: api-season#list
            responses:
                '200':
                    description: List of season objects.
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    type: object
                                    properties:
                                        season_id:
                                            type: integer
                                        name:
                                            type: string
                                        location:
                                            type: string
                                        start:
                                            type: string
                                        stop:
                                            type: string
                                        hidden:
                                            type: boolean
                                        active:
                                            type: boolean
                                example:
                                  - season_id: 2
                                    name: Galatians, Ephesians, Philippians, Colossians
                                    location: CBQ
                                    start: 2023-08-01 00:00:00-07:00
                                    stop: 2024-07-31 07:00:00-07:00
                                    hidden: false
                                    active: false
    /season/{season_id}/stats:
        get:
            summary: Seasons statistics.
            description: |-
                This endpoint will return a given season's statistics data.
            tags:
                - Quiz Seasons
            operationId: season_stats
            x-mojo-to: api-season#stats
            parameters:
              - name: season_id
                in: path
                required: true
                schema:
                    type: integer
                    example: 1
                    default: 1
            responses:
                '200':
                    description: Current statistics data of a season.
                    content:
                        application/json:
                            schema:
                                type: object
                                nullable: true
                                additionalProperties: true
                                properties:
                                    meets:
                                        type: array
                                        items:
                                            type: object
                                            properties:
                                                meet_id:
                                                    type: integer
                                                name:
                                                    type: string
                                                location:
                                                    type: string
                                                start:
                                                    type: string
                                                days:
                                                    type: integer
                                    quizzers:
                                        type: array
                                        items:
                                            type: object
                                            properties:
                                                name:
                                                    type: string
                                                meets:
                                                    type: array
                                                tags:
                                                    type: array
                                    tags:
                                        type: array
                                example:
                                    meets:
                                      - meet_id: 1
                                        name: Meet 1
                                        location: Meet Location
                                        start: 2023-10-21 08:00-07:00
                                        days: 1
                                    quizers:
                                      - name: Quizzer Name
                                        meets: []
                                        tags: []
                                    tags:
                                        - Rookie
                                        - Veteran
                                        - Youth
